@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style start */
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para { 
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.title-cover{
    width: 852px;
    height: 115px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.content-titile{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
/* shared style end */
/* Banner style start */
.header-container{
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../images/banner.png);    
}
.header-content{
    flex-direction: column; 
    width: 998px;
    height: 582px;
    margin: 0 auto;
    margin-top: 26px;  
}
.header-content img{
    width: 240.28px;
    height: 240px;
}
.header-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}
.header-content button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 24px;
    margin-top: 32px;
}
.header-content button>a{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}
/* Banner style End */
/* Why Web  style start */
.why-web-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
}
/* Web content top text style start */
.why-web-content{
    width: 946px;
    height: 1235px;
    margin: 0 auto;
}
/* Web content top text style End */
/* Web content common style start */
.web-content-section{
    width: 946px;
    height: 336px;
    padding: 48px; 
    margin-bottom: 32px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.web-content-text{
    width: 60%;
    height: 100%;
    margin-right: 100px;
}
.web-content-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.web-content-text p{
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
}
.web-content-text button{
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.web-content-text button>a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 500;
}
.web-content-section img{
    width: 259.56px;
    height: 217.01px;
}
/* Web content common style End */
#web-2nd-img{
    width: 223.2px;
    height: 208.85px;   
}
#web-2nd-text{
    margin-left: 48px;
}
/* Web Web style End */
/* My Inpiration style Start */
.my-ins-container{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 88px;
}
/* My Inspiration Video style*/
.my-ins-video{
    width: 1140px;
    height: 614px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.my-ins-video iframe{
    width: 1076px;
    height: 550px;
}
/* My Inpiration style End */
/* My Current Target Section Start */
.cur-targer-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 150px;
}
.target-skills{
    width: 1140px;
    height: 299px;
    margin: 0 auto;
    justify-content: space-between;
}
/* target skills common style start */
.skill{
    width: 364px;
    height: 299px;
    flex-direction: column;
    align-items: start;
    border-radius: 16px;
    padding: 40px;
    background: rgba(255, 76, 30, 0.05);
}
.skill img{
    width: 56px;
    height: 56px;
left: 0;
}
.skill h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin-top: 24px;
}
.skill p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 8px;
}
.skill a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 24px;
}
/* target skills common style end */
.target-skills .css{
    background: rgba(0, 76, 232, 0.05);
}
.target-skills .js{
    background: rgba(255, 223, 0, 0.05);
}
/* My Current Target Section End */
/* support style start */
.support-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 64px 48px;
    border-radius: 16px;
    background-color:rgba(0, 0, 0, 0.3);
    background-image: url(../images/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.support-title-cover{
    width: 800px;
    height: 104px;
    margin: 0px auto;
}
.suport-titile{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.support-para{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.support-input{
    width: 684px;
    height: 57px;
    margin: 0 auto;
    margin-top: 24px;
}
#support-input{
    width: 548px;
    height: 57px;
    border: none;
    margin: 0 auto;
    margin-left: 0;
    padding: 19px 20px 19px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);    
}
.input-btn{
    width: 120px;
    height: 57px;
    margin: 0 auto;
    margin-right: 0px;
    padding: 17px 20px 17px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
/* support style end */
/* Footer style start */
.footer-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    justify-content: space-between;
}
.foot-media a{
    text-decoration: none;
    align-items: center;
    margin-right: 24px;
}
/* Footer style End */